

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://github.com/crazefox4ever/GP">
                   Social Distancing Admin Dashboard
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; Imam CS Group 2 </a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://github.com/crazefox4ever/GP">Group 2</a>
          </div>
        </div>
    </footer>
